@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Lobster+Two&family=Ubuntu:wght@300&display=swap');

body{
    background-color: #12121e;
    font-family: 'Arvo', serif;
    scroll-behavior: smooth;
    /* font-family: 'Arvo', serif;
    font-family: 'Lobster Two', cursive;
    font-family: 'Ubuntu', sans-serif; */
    /*font color- #63d3e0 */
}

header{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #63d3e0;
    flex-wrap: wrap;
}

header.sticky {
    position: fixed;
    top: -40px;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 10px 0;
    background-color: #12121e; 
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

section{
    margin-left: 5%;
    cursor: pointer;
}

img{
    width: 100px;
}

a{
    text-decoration: none;
}

.book{
    color: #98bbbe;
    transition: 0.3 ease;
}

.book:hover{
    color: #63d3e0;
}

.container{
    margin-left: 5%;
    margin-top: 30px;
    background-color: #12121e;
    width: 90%;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.container:hover{
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.2);
}

h2{
    color: #63d3e0;
    font-size: 2rem;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 40px;
}
h3{
    color: #98bbbe;
    margin-left: 10%;
    margin-top: 20px;
}

.date-picker-container{
    margin-top: 20px;
    display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin-left: 12%;
}

.date-picker {
    background-color: #12121e;
    color: #63d3e0;
    font-family: inherit;
    width: 200px;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
    border-color: #98bbbe;
    margin-right: 100px;
    margin-bottom: 20px;

}

.label {
    color: #98bbbe;
    margin-right: 5px;
}

.date-picker-container select{
    border-color: #98bbbe;
    margin-right: 50px;
    background-color: #12121e;
    color: #63d3e0;
    width: 220px;
    height: 40px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 50px;
}

.date-picker-container select option{
    color: #98bbbe;
}

.name{
    margin-bottom: 48px;
    background-color: #12121e;
    color: #98bbbe;
    border-color: #98bbbe;
    font-size: 16px;
    height: 40px;
    width: 230px;
    margin-right: 50px;
    border-radius: 5px;
}

textarea{
    border-radius: 5px;
    background-color: #12121e;
    color: #98bbbe;
    font-size: 16px;
    font-family: inherit;
    border-color: #98bbbe;
    margin-bottom: 40px;
    height: 100px;
    width: 650px;
}

.radio-container {
    display: flex;
    margin-bottom: 20px;

}

.radio-label {
    display: flex;
    align-items: center;
    margin-right: 20px;
    color: #98bbbe;
}

.radio-input {
    margin-right: 10px;
}

.promocode{
    margin-bottom: 20px;
    width: 200px;
    height: 40px;
    font-family: inherit;
    font-size: 16px;
    background-color: #12121e;
    color: #98bbbe;
    border-radius: 5px;
    border-color: #98bbbe;
    margin-left: 50px;
}
.exp-card{
    margin-top: 20px;
}

.exp-date{
    flex-wrap: wrap;
    width: 100px;
    height: 40px;
    font-family: inherit;
    font-size: 16px;
    background-color: #12121e;
    color: #98bbbe;
    border-radius: 5px;
    border-color: #98bbbe;
    margin-left: 50px;
}

button{
    background-color: #12121e;
    color: #63d3e0;
    border-color: #63d3e0;
    font-size: 16px;
    font-family: inherit;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 0.3s ease;

}
button:hover{
    background-color: #63d3e0;
    color: #12121e;
}

p{
    text-align: justify;
    color: #98bbbe;
}


/* footer */
footer{
    padding-bottom: 50px;
    background-color: #08060f;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-section {
    margin-top: 40px;
    flex: 1;
}

.logo-icon{
    width: 80px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 70px;
}
.names{
    text-align: justify;
    color: #98bbbe;
    margin-left: 70px;
    margin-top: 1px;
}

.motto{
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;;
}

.contact{
    font-size: 14px;
}

.lists{
    list-style: none;
}

.center-icons {
    text-align: center;
    margin-top: 180px;

}

.icons li{
    display: inline;
    margin-right: 20px;
    font-size: 20px;
}

.icons li a{
    color: #63d3e0;
}

.icons li a:hover{
    transition: 0.3s ease;
    color: white;
}

.links{
    display: flex;
    justify-content: center
}

.lists {
    list-style: none;
    padding: 0;
}
.lists li {
    margin: 5px 0;
    margin-bottom: 15px;
}

.lists a {
    text-decoration: none;
    color: #63d3e0;
}

.lists a:hover {

    color: white;
}



@media screen and (max-width: 855px) {
    /* Add your responsive styles here for smaller screens */
    h2{
        bottom: 200px;
    }
    nav ul {
        flex-direction: column;
    }
    
    nav li {
        margin-bottom: 10px;
    }
    
    nav li:last-child {
        margin-bottom: 0;
    }
    
    button{
        left: 10px;
    }

    textarea{
        height: 100px;
        width: 400px;
    }
}

@media screen and (max-width: 558px) {

    .container{
        box-shadow: none;
    }
    .container:hover{
        box-shadow: none;
    }

    textarea{
        width: 250px;
        height: 150px;
    }
    .image{
        width: 300px;

    }
    h2{
        font-size: 18px;
        bottom: 200px;
    }
    
    .sec1{
        height: 700px;
    }

    .row .col50 {
        width: 100%; /* Make the column take full width */
    }

    .row .col50 .imgBx img {
        width: 100%; /* Make the image take full width */
        height: auto; /* Maintain aspect ratio */
    }

    .row .col50 .imgBx img:hover{
        transition: 0.3s ease;
        width: 100%;
        height: auto;;
        box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);
    }

    p {
        text-align: center; /* Center text below the image */
    }.row{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-direction: column;
        width: 100%;
    }

    .row .col50{
        
        width: 100%;
    }
    
    h2{
        left: 30px;
    }

    .sec2{
        position: relative;
        margin-top: 200px;
    
    }
    .sec2 iframe{

        margin-bottom: 100px;
    }
    .center-icons {
        text-align: center;
        margin-top: 0px;
    
    }
    .icons li{
        display: block;
        margin-top: 20px;
        font-size: 25px;
    }
    .names{
        margin-left: 10px;
        margin-top: 1px;
    }

    button{
        bottom: 90px;
    }
}

@media screen and (max-width: 376px) {
    h1{
        text-align: center;
        margin-bottom: 30px;
        font-size: 2rem;
    }

    h3{
        top: 50px;
        font-size: 1.5rem;
        bottom: 250px;
    }

    h2{
        text-align: center;
        top: 0px;
    }
    .logo-icon{
        margin-left: 50px;
        width: 50px;
    }

    .icons li{
        font-size: 16px;
        margin-right: 20px;
    }
    .names{
        font-size: 12px;
    }
    .motto{
        font-size: 11px;
    }

    .contact{
        font-size: 12px;
    }

    .lists{
        font-size: 12px;
    }
    .sec1{
        height: 900px;
    }
    .sec2{
        position: relative;
        margin-top:250px;
    }


    p{
        margin-top: 50px;
    }

}